<<<<<<< HEAD
* {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}
=======
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap');
>>>>>>> 880e359fc488559215b75c46986a6973e9cc58ee

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
<<<<<<< HEAD
  background-color: #e6e8ec;
}

.App {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
}

.open-modal-btn {
  background: #fff;
  padding: 18px 25px;
  border-radius: 20px;
  font-weight: 500;
  border: 0;
  outline: none;
  font-size: 22px;
  cursor: pointer;
  line-height: 23px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
  transition: all 0.1s ease-in-out;

  &:hover {
    box-shadow: 0 8px 10px rgba(0, 0, 0, 0.1);
    transform: translateY(-1px);
  }

  &:active {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    transform: translateY(0);
  }
}

.overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  transition: all 0.5s ease-in-out;
}

.modal {
  background-color: #fff;
  width: 70%;
  max-width: 500px;
  max-height: 300px;
  padding: 40px 30px;
  border-radius: 10px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
  transition: all 0.5s ease-in-out;

  img {
    border-radius: 5px;
    width: 100%;
  }

  svg {
    position: absolute;
    right: 10px;
    top: 10px;
    height: 24px;
    width: 24px;
    opacity: 0.3;
    cursor: pointer;

    &:hover {
      opacity: 1;
    }
  }
}

.overlay.animated {
  opacity: 0;
  visibility: hidden;

  .modal {
    opacity: 0;
    visibility: hidden;
    transform: translate(-50%, -30%);
    transition-delay: 0.2s;
  }

  &.show {
    opacity: 1;
    visibility: visible;

    .modal {
      opacity: 1;
      visibility: visible;
      transform: translate(-50%, -50%);
=======
  background-color: #dfe2ff;
}

* {
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  outline: none;
}

.App {
  width: 400px;
  height: 600px;
  margin: 50px auto;
  background-color: #fff;
  border-radius: 30px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
  padding: 40px;
}

.search {
  position: relative;

  input {
    border: 1px solid rgba(0, 0, 0, 0.08);
    padding: 15px;
    border-radius: 15px;
    width: 100%;
    font-size: 16px;
    padding-left: 50px;
  }

  svg {
    width: 18px;
    height: 18px;
    position: absolute;
    top: 17px;
    left: 20px;
    opacity: 0.3;
  }
}

.users-list {
  list-style: none;
  padding: 0;
  margin: 0;
  overflow: auto;
  height: calc(100% - 130px);
  margin-top: 30px;

  li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;

    & > div {
      display: flex;
    }

    img.avatar {
      border-radius: 30px;
      width: 50px;
      height: 50px;
      margin-right: 15px;
    }

    .action {
      width: 28px;
      height: 28px;
      opacity: 0.3;
      cursor: pointer;

      &:hover {
        opacity: 0.8;
      }
    }

    h3 {
      margin: 0;
      font-weight: 900;
      font-family: 'Merriweather', serif;
      margin-left: 15px;
      margin-top: 5px;
      margin-left: 0;
      color: #182170;
    }

    p {
      display: flex;
      align-items: center;
      font-size: 14px;
      margin: 0;
      color: rgba(0, 0, 0, 0.5);
      margin-top: 3px;

      svg {
        width: 16px;
        height: 16px;
        margin-right: 4px;

        path {
          fill: rgba(0, 0, 0, 0.2);
        }
      }
>>>>>>> 880e359fc488559215b75c46986a6973e9cc58ee
    }
  }
}

.send-invite-btn {
  background-color: rgb(251, 80, 0);
  padding: 16px 15px;
  border-radius: 15px;
  font-size: 16px;
  color: #fff;
  width: 100%;
  border: 0;
  outline: none;
  box-shadow: 0 7px 10px rgba(251, 80, 0, 0.4);
  cursor: pointer;
  transition: all 0.1s ease-in-out;

  &:hover {
    background-color: rgb(255, 97, 24);
  }

  &:active {
    transform: translateY(2px);
    box-shadow: none;
  }
}

.success-block {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  flex-direction: column;
  animation: success-show 0.5s cubic-bezier(0.25, 0.75, 0.5, 1.25);

  img {
    width: 120px;
    height: 120px;
  }

  h3 {
    font-size: 24px;
    margin-bottom: 0;
    margin-top: 10px;
  }

  p {
    text-align: center;
    margin-bottom: 30px;
  }

  button {
    width: 200px;
  }
}

.skeleton-list {
  height: calc(100% - 130px);
  margin-top: 30px;

  svg {
    margin-bottom: 15px;
  }
}

@keyframes success-show {
  0% {
    opacity: 0;
    transform: scale(0.8);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}
