@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;800;900&display=swap');

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f2f2f2;
}

* {
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  outline: none;
}

.App {
  display: flex;
}

.text-skeleton {
  margin-top: 30px;
}

.list {
  list-style: none;
  padding: 20px 10px;
  margin: 0;
  width: 300px;

  li {
    display: flex;
    align-items: center;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 500;
    margin-bottom: 4px;

    .triangle {
      width: 0.6875em;
      height: 0.6875em;
      display: block;
      fill: rgba(55, 53, 47, 0.7);
      flex-shrink: 0;
      margin-right: 8px;
      backface-visibility: hidden;
      transition: transform 200ms ease-out 0s;
      transform: rotateZ(90deg);
      opacity: 1;
    }

    .page {
      width: 18px;
      height: 18px;
      display: block;
      fill: rgba(55, 53, 47, 0.7);
      flex-shrink: 0;
      backface-visibility: hidden;
    }

    &.active {
      background-color: #e8e7e4;
    }

    &:hover {
      background-color: #e8e7e4;
    }

    svg {
      margin-right: 5px;
    }

    &.active {
      font-weight: 600;
    }
  }
}

.list-skeleton {
  display: flex;
  flex-direction: column;
  padding: 20px 10px;

  svg {
    margin-bottom: 5px;
  }
}

.content {
  background-color: #fff;
  padding: 80px 100px;
  width: 100%;
  height: 100vh;

  .title-input {
    font-size: 48px;
    border: 0;
    padding: 0;
    font-weight: 700;
  }
}
